<div class="modal-header">
    <h3 class="modal-title" id="modal-title">System Statistics</h3>
</div>
<div class="modal-body" id="modal-body">
    <hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
</div>
<div class="modal-footer">
    <button class="btn btn-primary center-block" type="button" ng-click="$ctrl.ok()">OK</button>
</div>